!python -m pip install sklearn

%load_ext autoreload
%autoreload 2

https://archive.ics.uci.edu/ml/datasets/auto+mpg

In [1]:
import sklearn

In [2]:
import pandas as pd

In [3]:
!dir .\files\auto-mpg.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: A494-C8A8

 C:\Develops\KDT_machinelearning\files 디렉터리

2021-06-29  오후 04:04            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리  53,517,651,968 바이트 남음

In [4]:
pd_data = pd.read_csv('./files/auto-mpg.csv', header=None)
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [5]:
pd_data.shape

(398, 9)

In [6]:
pd_data

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [7]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [8]:
x = pd_data[['weight','cylinders']]
y = pd_data[['mpg']]

In [9]:
x.shape, y.shape

((398, 2), (398, 1))

In [10]:
from sklearn.linear_model import LinearRegression

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html

In [11]:
lr = LinearRegression()

In [12]:
lr.fit(x,y)

LinearRegression()

In [13]:
lr.coef_, lr.intercept_

(array([[-0.00641225, -0.70250805]]), array([46.39370235]))

y = - 0.00641225x1 - 0.70250805x2 + 46.39370235

In [14]:
# 정확도 측정
lr.score(x,y)

0.6964013933838316

## 데이터셋 분할

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y)

In [17]:
lr2 = LinearRegression()

In [18]:
lr2.fit(X_train, Y_train)

LinearRegression()

In [19]:
lr2.coef_, lr2.intercept_

(array([[-0.00657337, -0.53753863]]), array([45.81146366]))

y = - 0.006573376x1 - 0.53753863x2 + 45.81146366

In [20]:
lr2.score(X_train,Y_train)

0.6782548181795763

In [21]:
lr2.score(X_test,Y_test)

0.7337221903828242

### => 서비스단계 : 고객응대 in 피클

In [26]:
lr2.predict([[2790.0,4]])

array([[25.32161301]])

In [27]:
import pickle

In [30]:
pickle.dump(lr2, open('./saves/autompg_lr.pkl', 'wb'))