## 1. 정보 단계
* Y&X 선택
* 숫자만 선택 대상

## 2. 교육 단계
* data split
* model 교육
* 4개만 data predict
* metrics 확인

## 3. 서비스
* pickle 만들어 불러오기

## 1. 정보 단계

In [2]:
import pandas as pd

In [30]:
data = pd.read_excel('./files/advertising.xls')

In [31]:
data

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   datetime64[ns]
 9   Clicked on Ad             1000 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 78.2+ KB

x = data.iloc[:, :-1]
y = data.iloc[:, :1]

In [33]:
x = data[['Daily Time Spent on Site','Age','Area Income','Daily Internet Usage','Male']]
y = data.iloc[:, -1:]

## 2. 교육 단계

In [10]:
from sklearn.model_selection import train_test_split

In [34]:
x_train, x_test, y_train, y_test = train_test_split(x, y)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((750, 5), (250, 5), (750, 1), (250, 1))

In [12]:
from sklearn.linear_model import LogisticRegression

In [35]:
lr = LogisticRegression()

In [36]:
lr.fit(x_train, y_train)

c:\python\python36\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [37]:
lr.coef_, lr.intercept_

(array([[-6.49390599e-02,  2.64654527e-01, -1.72393026e-05,
         -2.26269872e-02,  1.54845209e-03]]),
 array([0.00544926]))

### train set 확인

In [46]:
pred_train = lr.predict(x_train)
pred_train[100:104]

array([1, 0, 0, 1], dtype=int64)

In [40]:
lr.predict_proba(x_train[100:104])

array([[0.39192796, 0.60807204],
       [0.94464668, 0.05535332],
       [0.95093331, 0.04906669],
       [0.47108436, 0.52891564]])

In [41]:
y_train[100:104]

     Clicked on Ad
644              0
907              0
770              0
951              1

In [42]:
from sklearn import metrics

In [47]:
print(metrics.classification_report(y_train, pred_train))

              precision    recall  f1-score   support

           0       0.88      0.92      0.90       373
           1       0.92      0.87      0.89       377

    accuracy                           0.90       750
   macro avg       0.90      0.90      0.90       750
weighted avg       0.90      0.90      0.90       750

In [48]:
metrics.confusion_matrix(y_train, pred_train)

array([[345,  28],
       [ 49, 328]], dtype=int64)

### test set 확인

In [49]:
pred_test = lr.predict(x_test)
pred_test[100:104]

array([1, 0, 0, 1], dtype=int64)

In [50]:
lr.predict_proba(x_test[100:104])

array([[0.02685511, 0.97314489],
       [0.91075214, 0.08924786],
       [0.96383939, 0.03616061],
       [0.06566127, 0.93433873]])

In [52]:
y_test[100:104]

     Clicked on Ad
628              1
431              0
362              0
438              1

In [53]:
print(metrics.classification_report(y_test, pred_test))

              precision    recall  f1-score   support

           0       0.88      0.94      0.91       127
           1       0.93      0.87      0.90       123

    accuracy                           0.90       250
   macro avg       0.91      0.90      0.90       250
weighted avg       0.91      0.90      0.90       250

In [54]:
metrics.confusion_matrix(y_test, pred_test)

array([[119,   8],
       [ 16, 107]], dtype=int64)

## 3. 서비스

In [55]:
import pickle

In [56]:
pickle.dump(lr, open('./saves/ad_save.pkl', 'wb'))

#### load

In [57]:
ad_load = pickle.load(open('./saves/ad_save.pkl','rb'))

In [58]:
type(ad_load)

sklearn.linear_model._logistic.LogisticRegression

In [62]:
ad_load.predict(x_test)[100:104]

array([1, 0, 0, 1], dtype=int64)

In [63]:
y_test[100:104]

     Clicked on Ad
628              1
431              0
362              0
438              1